@import "tailwindcss";

/* === Fonts === */

@font-face {
  font-family: 'Agharti';
  src: url('/fonts/agharti-regular.woff2') format('woff2'),
       url('/fonts/agharti-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'VCR';
  src: url('/fonts/vcr_osd_mono.woff2') format('woff2'),
       url('/fonts/vcr_osd_mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* === Global Styles === */

:root {
  --dark-color: #232323;
  --medium-color: #303030;
  --light-color: #f3f3f3;
  --main-color: #FFBB00;
  --font-agharti: 'Agharti', sans-serif;
  --font-vcr: 'VCR', monospace;
}

html, body {
  font-size: 16px;
  line-height: 1.6;
  color: var(--light-color);
  background: var(--dark-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app-shell:not(.page--home) {
  position: relative;
  width: 90%;
  margin: auto;
}

/* === App Nav Header === */

nav.app-nav * {
  font-family: var(--font-vcr);
  color: var(--main-color);
  text-decoration: none;
}

nav.app-nav {
  position: relative;
  z-index: 999;
  width: 100%;
  max-width: 1440px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2rem !important;
  margin: auto;
}

.nav-logo {
  min-width: 44px;
}

.nav-logo .nav-m {
  font-size: 1.5rem;
}

.nav-logo .nav-underscore {
  position: relative;
  bottom: 1px;
  left: 3px;
  font-size: 1.3rem;
  animation: blink 1s infinite;
}

.nav-logo .nav-m.nav-random-album {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-logo .nav-m.nav-random-album .nav-arrow {
  position: relative;
  bottom: 1px;
  left: 0px;
  font-size: 1rem;
  margin-right: 7px;
}

.nav-logo:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-offset: 1px;
}

.nav-menu {
  position: absolute;
  right: 100px;
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  padding: 5px 20px;
  border-radius: 0.75rem;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-link.active {
  opacity: 1;
  background: var(--medium-color);
}

.nav-more {
  width: 44px;
  height: 44px;
  line-height: 44px;
  display: block;
  position: relative;
  margin-right: -15px;
}

.nav-more .more-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.7rem;
  transform: rotate(0deg);
  transition: all .3s cubic-bezier(.755, .05, .855, .06);
}

.nav-more:hover .more-icon {
  font-size: 2rem;
  transform: rotate(180deg);
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

/* === App Main Content === */

.app-main,
.app-main > * {
  position: relative;
}

.app-main {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.main-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.25rem 2rem 2rem !important;
}

.main-title .main-title-inner {
  display: flex;
  align-items: flex-end;
}

.main-title h1 {
  font-family: var(--font-agharti);
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 4px;
  line-height: 1.17;
  margin: 0 1rem 0 0;
  opacity: 0.75;
}

.main-title p {
  font-family: var(--font-vcr);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  opacity: 0.5;
}

.main-content {
  width: 100%;
}

.main-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  margin: 0 0 20px;
  border-radius: 1.75rem;
  background: var(--medium-color);
}

/* === Homepage === */

.page--home .app-main {
  position: absolute;
  z-index: 0;
  width: 100%;
  max-width: 100%;
  height: 100svh;
  min-height: 600px;
  top: 0;
  left: 0;
}

.home-video {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.home-video-overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .5;
  background-color: var(--dark-color);
  pointer-events: none;
}

.home-title {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0 180px;
  margin: 0;
  font-family: var(--font-agharti);
  font-size: 18rem;
  letter-spacing: 12px;
  color: var(--main-color);
  text-align: center;
  text-transform: uppercase;
}

.home-credits {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--font-vcr);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  z-index: 4;
}

.credit-small {
  font-size: 1rem;
  letter-spacing: 2px;
}

.credit-large {
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin: 5px 0 0;
}

/* === Albums page === */

.album-entry {
  position: relative;
  width: calc(25% - 0.75rem);
  border-radius: 1rem;
  background: var(--dark-color);
  overflow: hidden;
}

.album-entry * {
  font-family: var(--font-vcr);
  text-transform: uppercase;
  width: 100%;
}

.album-entry img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease-in-out;
}

.album-entry:hover img {
  filter: blur(3px);
}

.album-entry .album-title {
  display: block;
  width: 100%;
  padding: 0.6rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 1px;
  opacity: 0.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in-out;
}

.album-entry:hover .album-title {
  color: var(--main-color);
  opacity: 1;
}

.album-image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
}

.album-overlay-meta {
  position: absolute;
  z-index: 1;
  inset: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(35, 35, 35, 0.6);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.album-entry:hover .album-overlay-meta {
  opacity: 1;
}

.album-year {
  letter-spacing: 2px;
  font-size: 1.7rem;
  line-height: 1.6;
  color: var(--main-color);
}

.album-period {
  font-size: 0.6rem;
  letter-spacing: 1px;
  color: var(--main-color);
}

/* === Places page === */

.place-entry {
  position: relative;
  width: calc(33.33% - 0.67rem);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background: var(--dark-color);
  overflow: hidden;
}

.place-entry * {
  font-family: var(--font-vcr);
  text-transform: uppercase;
  width: 100%;
}

.place-entry img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease-in-out;
}

.place-entry:hover img {
  filter: blur(3px);
}

.place-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 100px);
  padding: 0 1.5rem;
}

.place-entry .place-title {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  opacity: 0.75;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in-out;
}

.place-albums-count {
  font-size: 0.6rem;
  letter-spacing: 1px;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.place-entry:hover .place-title,
.place-entry:hover .place-albums-count {
  color: var(--main-color);
  opacity: 1;
}

.place-image-wrapper {
  position: relative;
  width: 100px;
  aspect-ratio: 1;
  overflow: hidden;
}

.place-overlay {
  position: absolute;
  z-index: 1;
  inset: 0;
  font-size: 1.7rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--main-color);
  background: rgba(35, 35, 35, 0.6);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.place-entry:hover .place-overlay {
  opacity: 1;
}

/* === Years page === */

.year-entry {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.year-entry * {
  font-family: var(--font-vcr);
  text-transform: uppercase;
}

.year-link {
  background: var(--dark-color);
  border-radius: 1rem;
  overflow: hidden;
  height: 100%;
  width: 50%;
  flex: 1;
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.7rem 2rem 2.3rem;
}

.year-link .year-label-num {
  letter-spacing: 2px;
  opacity: .75;
  font-size: 1.7rem;
  line-height: 1;
  transition: all .3s ease-in-out;
}

.year-link .year-label-txt {
  letter-spacing: 1px;
  opacity: .6;
  font-size: .8rem;
  line-height: 1.3;
  transition: all .3s ease-in-out;
}

.year-link:hover .year-label-num,
.year-link:hover .year-label-txt {
  opacity: 1; 
  color: var(--main-color);
}

.year-albums {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.year-album-link {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 1rem;
  overflow: hidden; 
}

.year-album-link img {
  width: 100px;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease-in-out;
  background: var(--dark-color);
}

.year-album-link:hover img {
  filter: blur(3px);
}

.year-album-overlay {
  position: absolute;
  z-index: 1;
  inset: 0;
  font-size: 1.7rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--main-color);
  background: rgba(35, 35, 35, 0.6);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.year-album-link:hover .year-album-overlay {
  opacity: 1;
}